<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sniper.shardingdbtablespringboot.mapper.OrderMapper">

    <resultMap id="baseResultMap" type="com.sniper.shardingdbtablespringboot.entity.Order">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectList" resultMap="baseResultMap">
        select *
        from order
    </select>

    <insert id="insert" parameterType="com.sniper.shardingdbtablespringboot.entity.Order">
        insert into order (order_no,goods_name) values (#{orderNo},#{goodsName})
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="baseResultMap">
        select * from order where id = #{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="baseResultMap">
        select * from order where goods_name = #{name}
    </select>
</mapper>
